@*
* This template takes a two arguments
* A String containing a message to display.
* webJarAssets object
*@
@(message: String)(webJarAssets: WebJarAssets)

@*
* Call the `main` template with three arguments.
* The first argument is a `String` with the title of the page.
* The second argument is an `Html` object containing the body of the page.
* And third argument is an `webJarAssets` object.
*@
@main("Welcome to Play") {

<!-- Begin page content -->
<div class="container">
    <div class="page-header">

    </div>

    <input class="form-control input-lg typeahead" type="text" placeholder="Search countries...">

</div>

}(webJarAssets)
